body {
	background: pink;
	font-family:  Helvetica;
}
h1 {
	color: white;
	text-align: center;
}
.assign {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: coral;
}
.assign img {
	width: 200px;
	padding: 10px;
}
